*{
    outline: 2px solid red;
    box-sizing: border-box;
}

.header-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    width: 100%;
}

.header{
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between logo and links */
    padding: 0 20px; /* Add some padding for spacing */
}

.logo{
    color: #F9FAF8;
    flex: 1 1 auto;
    text-align: center;
}
.links{
    color: #F9FAF8;
    flex: 1 1 auto;
    text-align: center;

}

.hero{
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
}

.hero-text{
    display: flex;
    flex-direction: column;
    color:#E5E7EB;
}
    
